.idea/encodings.xml
.idea/Hack-Assembler.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/dictionaries/Francois.xml
.idea/Hack-Assembler-C++.iml
*.suo
chasm/chasm.sln
*.db
chasm/chasm.VC.VC.opendb
*.exe
chasm/Debug/chasm.ilk
*.pdb
chasm/Hack-Assembler-VS/Debug/chasm.tlog/chasm.lastbuildstate
*.tlog
*.obj
*.log
chasm/Hack-Assembler-VS/Debug/vc140.idb
*.vcxproj
chasm/Hack-Assembler-VS/Hack-Assembler-VS.vcxproj.filters
*.user
chasm/Release/chasm.iobj
*.ipdb
